body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
strong{
  color:black;
  font-weight:500;
}
a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}
 a:focus, button:focus,a:hover, button:hover
 {
border: 0.1em solid  black;
}

a:link{
  text-decoration:underline;
}
a:visited{
  text-decoration-color:#c82a05!important;
}
a:focus, button:focus,a:hover, button:hover
{
border: 0.1em solid  black;
}
a:active{
  background-color:#66686c;
}
#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 3.125em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 6.25em 3.125em;
}

.bloc-md {
    padding: 3.125em;
}

.bloc-sm {
    padding: 1.25em 3.125em;
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}

.bg-repeat {
    background: repeat;
}

.bg-t-edge {
    background: top no-repeat;
}

.bloc-bg-texture::before {
    content: "";
    background-size: 0.125em 0.125em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.texture-paper::before {
    background: url("img/texture-paper.png");
    background-size: 17.5em 17.5em;
}

.b-parallax {
    background-attachment: fixed;
}

.d-bloc p, .d-bloc span{
    color: #212121;
  /*  text-shadow: #c22b32 0.5px 0.5px, #c22b32 -0.5px 0.5px, #c22b32 -0.5px -0.5px, #c22b32 0.5px -0.5px;*/

}

.d-bloc button:hover {
    color: rgba(255, 255, 255, .9);
}

.d-bloc .icon-round,
.d-bloc .icon-square,
.d-bloc .icon-rounded,
.d-bloc .icon-semi-rounded-a,
.d-bloc .icon-semi-rounded-b {
    border-color: rgba(255, 255, 255, .9);
}

.d-bloc .divider-h span {
    border-color: rgba(255, 255, 255, .2);
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
    color: rgba(255, 255, 255);
}

.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
    color: rgba(255, 255, 255, 1);
}

.d-bloc .navbar-toggle .icon-bar {
    background: rgba(255, 255, 255, 1);
}

.d-bloc .btn-wire,
.d-bloc .btn-wire:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.d-bloc .panel {
    color: rgba(0, 0, 0, .8);
}

.d-bloc .panel button:hover {
    color: rgba(0, 0, 0, .7);
}

.d-bloc .panel icon {
    border-color: rgba(0, 0, 0, .7);
}

.d-bloc .panel .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}

.d-bloc .panel .a-btn {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .a-btn:hover {
    color: rgba(0, 0, 0, 1);
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);
}

.d-bloc .panel,
.l-bloc {
    color: rgba(0, 0, 0, .8);
}

.d-bloc .panel button:hover,
.l-bloc button:hover {
    color: rgba(0, 0, 0, .7);
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
    border-color: rgba(0, 0, 0, .7);
}

.d-bloc .panel .divider-h span,
.l-bloc .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}

.d-bloc .panel .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .a-btn:hover,
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-sm,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-xl,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
    color: rgba(0, 0, 0, 1);
}

.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover,
.l-bloc .btn-wire,
.l-bloc .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);
}

.voffset {
    margin-top: 1.875em;
}

.voffset-lg {
    margin-top: 5em;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

h1 {
    font-size: 2em;
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;

    font-size: 1.5625em;
    font-weight: normal;
    font-weight: 600;

}

.navbar-brand img {
    max-height: 3.75em;
    margin: 0 0.3125em 0 0;
    display: inline;
}

.navbar-brand img[src$=svg] {
    min-width: 2.5em;
}

.nav-center .navbar-brand img {
    margin: 0;
}

.navbar .nav {
    padding-top: 0.125em;
    margin-right: -1em;
    float: right;
    z-index: 1;
}

.nav > li {
    float: left;
    margin-top: 0.25em;
    font-size: 1.3em;
}

.navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
}

.navbar-toggle {
    margin: 0.625em 0.625em 0 0;
    border: 0em;
}

.navbar-toggle:hover {
    background: transparent!important;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 1.625em;
}

.nav-invert .navbar .nav {
    float: left;
}

.nav-invert header,
.nav-invert .navbar-brand {
    float: right;
    position: relative;
    z-index: 2;
}

@media (min-width: 48em) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 1.25em;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {
        color: #484848;
    }
    .nav-invert .site-navigation {
        left: 0;
        right: 0;
    }
    .nav-center {
        text-align: center;
    }
    .nav-center header {
        width: 100%;
    }
    .nav-center header,
    .nav-center .navbar-brand,
    .nav-center .nav > li {
        float: none;
        display: inline-block;
    }
    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0em;
        margin-top: 1.25em;
    }
    .nav-center.mini-nav .navbar-toggle {
        float: none;
        margin: 0.625em auto 0;
    }
}

.nav > li > .dropdown a {
    background: none!important;
    display: block;
    padding: 0.875em 0.9375em;
}

nav .caret {
    margin: 0 0.3125em;
}

.dropdown-menu .dropdown-menu {
    top: -0.5em;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -0.0625em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border: 0.25em solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 0.375em -0.3125em 0 0!important;
    float: right;
}

.mg-md {
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.mg-lg {
    margin-top: 0.625em;
    margin-bottom: 2.5em;
}

.btn {
    margin: 0 0.3125em 0.3125em 0;
}

.btn.pull-right {
    margin: 0 0 0.3125em 0.3125em;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

button {
    outline: none!important;
}

.btn-rd {
    border-radius: 2.5em;
}

.btn-clean {
    border: 0.0625em solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 0.0625em 0 rgba(0, 0, 1, .1);
    box-shadow: 0 0.0625em 0.1875em rgba(0, 0, 1, .25), inset 0 0.0625em 0 0 rgba(255, 255, 255, .15);
}


.icon-lg {
    font-size: 3.75em
}

.sm-shadow {
    text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, .3);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 1.875em;
}

.panel-rd .panel-heading {
    border-radius: 1.8125em 1.8125em 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 1.8125em 1.8125em;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 2.5em;
    height: 2.5em;
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 0.375em;
}

.showScrollTop {
    font-size: 0.875em;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 2em;
    width: 3.125em;
    height: 3.125em;
    margin-left: -1.5625em;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 56.25em;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.lightbox-caption {
    padding: 1.25em;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0.9375em;
    right: 0.9375em;
    bottom: 0.3125em;
}

.close-lightbox {
    color: #FFF;
    font-size: 1.875em;
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 1.875em;
    padding: 0 0.5625em 0.3125em;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: #FFF;
}

.next-lightbox,
.prev-lightbox {
    font-size: 1.25em;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 0.375em 0.5em 0.0625em 0.8125em;
    right: 1.5625em;
}

.prev-lightbox {
    padding: 0.375em 0.8125em 0.0625em 0.625em;
    left: 1.5625em;
}

.snapshot-lb .modal-body {
    padding-bottom: 2.8125em;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .8);
    background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #222222!important;
}


.hero-bloc-text {
    font-size: 2.375em;
}

.hero-bloc-text-sub {
    font-size: 2.25em;
}

.statement-bloc-text {
    line-height: 1.625em;
    font-style: italic;
    font-size: 1.25em;
    text-align: center;
    font-weight: lighter;
    max-width: 32.5em;
    margin: auto auto auto auto;
}

#bloc-8 p, p {
    font-size: 1.25em;
}
p.text-center{
  font-size:1.1em;
}

.tight-width-whitespace {
    max-width: 37.5em;
    margin: auto auto auto auto;
}

.h1 {
    font-size: 1.25em;
    font-family: "Open Sans";
}

.cta-hero {
    margin-top: 1.375em;
    color: #FFFFFF!important;
    text-transform: uppercase;
    padding: 0.75em 1.75em 0.75em 1.75em;
    font-size: 1em;
    font-weight: 500;
}

.social {
    max-width: 25em;
    margin: auto auto auto auto;
    display:flex;
    justify-content:space-around;
}

h2 {
    font-size: 1.375em;
    line-height: 1.4em;
}

col-sm-4 h2, col-sm-6 h2 {
    font-size: 0.9375em;
    text-transform: uppercase;
    font-weight: 500;
    color: #333333!important;
}

.med-width-whitespace {
    max-width: 50em;
    margin: auto auto auto auto;
    box-shadow: 0em 0em 0em #000000;
}

h1 {
    color: #333333!important;
}

h4 {
    color: #333333!important;
}

.icons {
    margin-bottom: 0.875em;
    margin-top: 1.5em;
}

.white {
    color: #FFFFFF!important;
}

.portfolio-thumb {
    margin-bottom: 1.5em;
    display:inline-block;
}

.portfolio-row {
    margin-bottom: 2.75em;
    margin-top: 3.125em;
}

.avatar {
    box-shadow: 0em 0.25em 0.5625em rgba(0, 0, 0, 0.3);
}

.black-background {
  background-color: #473F29;
  opacity:0.8;
    padding: 2.5em 2.5em 2.5em 2.5em;
}

.bold-link {
    font-weight: 900;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.tc-white {
    color: #F3976C!important;
  }
  h1.tc-white , h2.tc-white {
  /*  text-shadow: #c22b32 1px 1px, #c22b32  -1px 1px, #c22b32  -1px -1px, #c22b32  1px -1px;*/
}

.btn-atomic-tangerine {
    background: #F3976C;
    color: #212121!important;
      /*  text-shadow: #c22b32 1px 1px, #c22b32  -1px 1px, #c22b32  -1px -1px, #c22b32  1px -1px;*/
}

.btn-atomic-tangerine:hover {
    background: #c27956!important;
    color: #FFFFFF!important;
}

.ltc-white {
    color: #FFFFFF!important;
}

.ltc-white:hover {
    color: #cccccc!important;
}

.ltc-atomic-tangerine {
    color: #F3976C!important;
}

.ltc-atomic-tangerine:hover {
    color: #c27956!important;
}

.icon-dark-slate-blue {
    color: #364577!important;
    border-color: #364577!important;
}

.bg-dots-bg {
    background-image: url("img/dots-bg.png");
}

.bg-lines-h2-bg {
    background-image: url("img/lines-h2-bg.png");
}


.bg-presentation {
    background-image: url("img/image-de-presentation.jpg");
}

@media (max-width: 64em) {
    .bloc {
        padding-left: 1.25em;
        padding-right: 1.25em;
    }
    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}
a.navbar-brand{
  font-family: 'Quintessential', cursive;
  font-size:4rem;

}
@media (max-width: 62em) and (min-width: 48em) {
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
}

@media only screen and (min-width: 48em) and (max-width: 64em) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 64em) and (max-width: 85.375em) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 61.9375em) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }
    .bloc {
        padding-left: 0.625em;
        padding-right: 0.625em;
    }
    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding: 0 1.25em;
        padding-left: 0.625em;
        padding-right: 0.625em;
    }
}

@media (max-width: 47.9375em) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    #disqus_thread {
        padding-left: 0.625em
        padding-right: 0.625em
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .navbar .nav {
        padding-top: 0;
        border-top: 0.0625em solid rgba(0, 0, 0, .2);
        float: none!important;
    }
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 0.0625em solid rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .05);
        text-align: left;
        padding-left: 0.9375em;
        width: 100%;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 0.3125em 0 0 0.625em
        border: 0.25em solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8);
    }
    #hero-bloc .navbar .nav a {
        color: rgba(255, 255, 255, .6);
    }
    .hero {
        padding: 3.125em 0;
    }
    .hero-nav {
        left: -0.0625em;
        right: -0.0625em;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 3.75em;
        width: auto;
    }
    .nav-invert header {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 0.625em;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 2.5em 0;
    }
    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-tile-2 .container,
    .bloc-tile-3 .container,
    .bloc-tile-4 .container,
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-left: 0;
        padding-right: 0;
    }
    .a-block {
        padding: 0 0.625em;
    }
    .btn-dwn {
        display: none;
    }
    .voffset {
        margin-top: 0.3125em;
    }
    .voffset-md {
        margin-top: 1.25em;
    }
    .voffset-lg {
        margin-top: 1.875em;
    }
    form {
        padding: 0.3125em;
    }
    .close-lightbox {
        display: inline-block;
    }
    .blocsapp-device-iphone5 {
        background-size: 13.5em 26.5625em;
        padding-top: 3.75em;
        width: 13.5em;
        height: 26.5625em;
    }
    .blocsapp-device-iphone5 img {
        width: 11.25em;
        height: 20em;
    }
}

@media (max-width: 25em) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 47.9375em) {
    .bloc-mob-center-text {
        text-align: center;
    }
}
